{% extends 'default/layout.html' %}



{% block title %}
<title>Clipboard Sharing</title>
{% endblock %}



{% block header %}
<a role="button" class="btn btn-lg" style="margin-top:2vh; color:black;" href="/clipboard/">❮❮ BACK</a>
{% endblock %}
{% block content %}

<h1 style="color:gray;">New Clipboard</h1>
<div class="row" style="height:8vh;"></div>

<form method="POST" style="width:50%; margin-left:25%; scale:125%;">
  {% csrf_token %}

  <div class="form-group" style="width:40%; margin-left:30%;">
    <label>Posted By</label>
    <input 
      type="text" 
      class="form-control form-control-lg" 
      placeholder="optional" 
      name="posted_by"
    >
  </div>

  <div class="form-group"  style="width:40%; margin-left:30%;">
    <label>Password</label>
    <input 
      type="password" 
      class="form-control form-control-lg" 
      placeholder="optional, recommended" 
      name="password"
    >
  </div>

  <div class="form-group" style="width:60%; margin-left:20%;">
    <label>Title</label>
    <input 
      type="text" 
      class="form-control form-control-lg" 
      placeholder="" 
      name="title"
    >
  </div>

  <div class="form-group" style="width:60%; margin-left:20%;">
    <label>Clipboard Content</label>
    <textarea 
      class="form-control form-control-lg" 
      rows="3" 
      style="resize:none;" 
      name="content"
    ></textarea>
  </div>

  <div class="row" style="height:2vh;"></div>

  <div>
  	<button type="submit" class="btn btn-success" style="width:40%;">Create</button>
  </div>

</form>

<div class="row" style="height:5vh;"></div>

{% endblock %}
