{% extends 'default/layout.html' %}



{% block title %}
<title>File Sharing Details</title>
{% endblock %}



{% block header %}
<a role="button" class="btn btn-lg" style="margin-top:2vh; color:black;" href="/lightfile/">❮❮ BACK</a>
{% endblock %}
{% block content %}

<h1 style="color:gray; font-size:300%;">{{obj.title}}</h1>
<h3>
  <span style="color:gray; font-size:60%; margin-right:2%;">POSTED BY</span>
  <span>{{obj.posted_by}}</span>
</h3>
<div class="row" style="height:5vh;"></div>
{% for line in content %}
<h3 style="color:forestgreen; margin-bottom:-1vh; width:70%; margin-left:15%">{{line}}</h3>
{% endfor %}
<div class="row" style="height:5vh;"></div>

{% endblock %}
