{% extends 'default/layout.html' %}



{% block title %}
<title>File Sharing Details</title>
{% endblock %}



{% block header %}
<a role="button" class="btn btn-lg" style="margin-top:2vh; color:black;" href="/lightfile/">❮❮ BACK</a>
{% endblock %}
{% block content %}
<h1 style="color:orange;">Password Mismatch</h1>
<div class="row" style="height:5vh; "></div>
<a role="button" class="btn btn-lg" style="background-color:slategray; color:white; scale:120%; width:20%;" href="/lightfile/details?id={{id}}">Back</a>
<div class="row" style="height:3vh; "></div>
{% endblock %}
